@use "@/shared/styles/fonts";
@use "@/shared/styles/mixins";
@use "@/shared/styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: variables.$black-000000;
  font-family: "Ubuntu-Medium", sans-serif;
}

body {
  background-color: variables.$white-f5f4ff;
}

main,
header,
footer {
  @include mixins.global-padding-desktop;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

@media (max-width: 1300px) {
  main,
  header,
  footer {
    @include mixins.global-padding-mini-desktop;
  }
}

@media (max-width: 920px) {
  main,
  header,
  footer {
    @include mixins.global-padding-tablet;
  }
}

@media (max-width: 500px) {
  main,
  header,
  footer {
    @include mixins.global-padding-mobile;
  }
}
