@use "@/shared/styles/variables";

.loader-card {
	position: relative;
	overflow-x: hidden;
}

.loader-card::before {
	content: "";
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	position: absolute;
	transform: skewX(-20deg);
	animation: shimmer 2.5s infinite;
	background: linear-gradient(120deg, transparent, variables.$gray-bbbbbb33, transparent);
}

@keyframes shimmer {
	0% {
		left: -100%;
	}
	100% {
		left: 200%;
	}
}
