@use "/src/shared/styles/mixins";
@use "/src/shared/styles/variables";

.not-found-section {
  display: flex;
  align-items: center;
  margin: 24px 0 96px;
  justify-content: space-between;

  &__left-bar {
    gap: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__top-text {
    font-family: "Ubuntu-Bold", sans-serif;
    @include mixins.text_size-height-word-letter(30px, 112%, 0, 0%);
  }

  &__title {
    font-weight: 500;
    @include mixins.text_size-height-word-letter(30px, 112%, 0, 0%);
  }

  &__description {
    color: variables.$gray-4b4b4b;
    @include mixins.text_size-height-word-letter(16px, 112%, 0, 0%);
  }

  &__btn {
    @include mixins.w-h-padding-radius-bgc(
      192px,
      40px,
      8px,
      8px,
      variables.$blue-003cff
    );
  }
}

@media (max-width: 1300px) {
  .not-found-section {
    gap: 40px;
    margin: 20px 0 70px;

    &__left-bar {
      gap: 24px;
    }

    &__image {
      max-width: 50%;
    }
  }
}

@media (max-width: 920px) {
  .not-found-section {
    gap: 48px;
    text-align: center;
    margin: 20px 0 60px;
    flex-direction: column-reverse;

    &__left-bar {
      gap: 20px;
      align-items: center;
    }

    &__image {
      max-width: 80%;
    }
  }
}

@media (max-width: 500px) {
  .not-found-section {
    gap: 32px;
    margin: 16px 0 40px;
    flex-direction: column-reverse;

    &__left-bar {
      gap: 16px;
    }

    &__btn {
      width: 160px;
      height: 36px;
      font-size: 14px;
    }

    &__image {
      max-width: 80%;
    }
  }
}
