@use "@/shared/styles/fonts";
@use "@/shared/styles/mixins";
@use "@/shared/styles/variables";

.section-services {
  gap: 8px;
  display: flex;
  margin-top: 48px;
  align-items: center;
  flex-direction: column;

  &__title {
    font-weight: 500;
    color: variables.$black-1c1c1c;
    @include mixins.text_size-height-word-letter(30px, 50px, 5px, 0%);
  }

  &__description {
    color: variables.$black-1c1c1e;
    @include mixins.text_size-height-word-letter(16px, 50px, 5px, 0%);
  }

  &__image {
    margin-top: 40px;
    max-width: 100%;
  }
}

@media (max-width: 1300px) {
  .section-services {
    gap: 6px;
    margin-top: 40px;

    &__title {
      text-align: center;
      font-size: 28px;
      line-height: 44px;
    }

    &__description {
      font-size: 15px;
      line-height: 40px;
    }

    &__image {
      margin-top: 32px;
    }
  }
}

@media (max-width: 920px) {
  .section-services {
    gap: 6px;
    margin-top: 32px;
    text-align: center;

    &__title {
      font-size: 26px;
      line-height: 38px;
    }

    &__description {
      font-size: 14px;
      line-height: 32px;
    }

    &__image {
      margin-top: 28px;
    }
  }
}

@media (max-width: 500px) {
  .section-services {
    gap: 4px;
    margin-top: 24px;

    &__title {
      font-size: 22px;
      line-height: 30px;
    }

    &__description {
      font-size: 13px;
      line-height: 24px;
    }

    &__image {
      margin-top: 20px;
    }
  }
}
