$black-000000: #000000;
$black-00000033: #00000033;
$black-1c1c1e: #1c1c1e;
$black-1c1c1c: #1c1c1c;

$pink-b4387a: #b4387a;

$red-d93737: #d93737;

$violet-686df1: #686df1;

$white-ffffff: #ffffff;
$white-f4f4f4: #f4f4f4;
$white-f5f4ff: #f5f4ff;
$white-e7e7e7: #e7e7e7;
$white-fafafa: #fafafa;

$orange-eb801d: #eb801d;

$yellow-b2a35f: #b2a35f;

$blue-003cff: #003cff;
$blue-7796c0: #7796c0;
$blue-0b132a: #0b132a;

$gray-9092b0: #9092b0;
$gray-4b4b4b: #4b4b4b;
$gray-808080: #808080;
$gray-4f5665: #4f5665;
$gray-2d3748: #2d3748;
$gray-1d1929: #1d1929;
$gray-b2b2b2: #b2b2b2;
$gray-363a781a: #363a781a;
$gray-bbbbbb33: #bbbbbb33;
