@use "@/shared/styles/fonts";
@use "@/shared/styles/mixins";
@use "@/shared/styles/variables";

.section-cards {
  display: flex;
  margin-top: 131px;
  align-items: start;
  justify-content: space-between;

  &__text-container {
    max-width: 609px;
  }

  &__title {
    margin-bottom: 36px;
    color: variables.$black-1c1c1e;
    font-family: "Ubuntu-Bold", sans-serif;
    @include mixins.text_size-height-word-letter(48px, 50px, 0, 0%);
  }

  &__btn {
    @include mixins.w-h-padding-radius-bgc(
      160px,
      50px,
      8px,
      16px,
      variables.$blue-003cff
    );
  }

  &__cards {
    gap: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
