@use "@/shared/styles/fonts";
@use "@/shared/styles/mixins";
@use "@/shared/styles/variables";

.section-cards {
  display: flex;
  margin-top: 131px;
  align-items: start;
  justify-content: space-between;

  &__text-container {
    max-width: 622px;
  }

  &__title {
    margin-bottom: 36px;
    color: variables.$black-1c1c1e;
    font-family: "Ubuntu-Bold", sans-serif;
    @include mixins.text_size-height-word-letter(48px, 50px, 0, 0%);
  }

  &__btn {
    @include mixins.w-h-padding-radius-bgc(
      160px,
      50px,
      8px,
      16px,
      variables.$blue-003cff
    );

    &:hover {
      background-color: variables.$blue-7796c0;
    }
  }

  &__cards {
    gap: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1300px) {
  .section-cards {
    gap: 40px;
    margin-top: 100px;
    align-items: center;
    flex-direction: column;

    &__text-container {
      display: flex;
      max-width: 100%;
      align-items: center;
      flex-direction: column;
    }

    &__title {
      text-align: center;
    }

    &__btn {
      width: 200px;
    }

    &__cards {
      width: 80%;
    }

    &__card-img {
      width: 100%;
    }
  }
}

@media (max-width: 920px) {
  .section-cards {
    gap: 48px;
    margin-top: 80px;
    align-items: center;

    &__text-container {
      max-width: 100%;
      text-align: center;
    }

    &__title {
      margin-bottom: 24px;
    }

    &__btn {
      width: 200px;
    }

    &__cards {
      gap: 20px;
      width: 100%;
      max-width: 80%;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);

      > li[role="listitem"] {
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px), (max-width: 850px) {
  .section-cards {
    gap: 32px;
    margin-top: 50px;

    &__title {
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 20px;
    }

    &__btn {
      width: 100%;
      max-width: 280px;
    }

    &__cards {
      gap: 16px;
      display: flex;
      max-width: 70%;
      flex-wrap: wrap;
      align-items: center;
    }
  }
}
