.round-loader {
	animation: infinite-scroll 0.8s linear 0s infinite;
}

@keyframes infinite-scroll {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
