@use "@/shared/styles/variables";
@use "@/shared/styles/mixins";
@use "@/shared/styles/fonts";

.converter {
  padding: 32px;
  display: flex;
  margin-top: 48px;
  align-items: start;
  border-radius: 28px;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 #bbbbbb33;
  background: linear-gradient(variables.$white-f4f4f4, variables.$gray-b2b2b2);

  &__left-side {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: 500;
    margin-bottom: 24px;
    @include mixins.text_size-height-word-letter(30px, 50px, 5px, 0%);
  }

  &__currency-label {
    margin-bottom: 32px;
    @include mixins.text_size-height-word-letter(20px, 50px, 5px, 0%);
  }

  &__link {
    margin-top: 51px;
    color: variables.$white-ffffff;
    font-family: "Ubuntu-Bold", sans-serif;
    @include mixins.text_size-height-word-letter(20px, 112%, 0, 2%);
  }

  &__right-side {
    display: flex;
    align-items: end;
    flex-direction: column;
  }

  &__info {
    margin-bottom: 71px;
    @include mixins.text_size-height-word-letter(16px, 50px, 5px, 0%);
  }

  &__bank-img {
    width: 120px;
  }
}
