@use "@/shared/styles/mixins";
@use "@/shared/styles/variables";

.slider {
	gap: 48px;
	width: 100%;
	display: flex;
	max-width: 99%;
	overflow: hidden;
	position: relative;
	flex-direction: column;

	&__track {
		gap: 80px;
		display: flex;
		transition: transform 0.3s ease;
	}

	&__loader {
		@include mixins.w-h-padding-radius-bgc(100%, 450px, 0, 0, variables.$gray-bbbbbb33);
		border-top-left-radius: 28px;
		border-bottom-left-radius: 28px;
	}
}
